day7/xmlschema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "root">
    <xs:complexType>
        <xs:sequence>
            <xs:element type = "xs:string" name = "city"/>
            <xs:element type = "xs:string" name = "firstName"/>
                <xs:element type = "xs:string" name = "lastName"/>
                <xs:element type = "xs:string" name = "state"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>